<!DOCTYPE html>

<html>
  <head>
    <title>Sign In, please</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Signin</h2>
    <form method="post">
      <table>

        <tr>
          <td class="label">
            Email
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

      </table>

      <input type="submit" value="Sign In">
    </form>
  </body>

</html>
